[submodule "amundsendatabuilder"]
	path = amundsendatabuilder
	#url = https://github.com/amundsen-io/amundsendatabuilder
	url = https://github.com/Wonong/amundsendatabuilder
	branch = master
[submodule "amundsenfrontendlibrary"]
	path = amundsenfrontendlibrary
	#url = https://github.com/amundsen-io/amundsenfrontendlibrary
	url = https://github.com/Wonong/amundsenfrontendlibrary
	branch = master
[submodule "amundsenmetadatalibrary"]
	path = amundsenmetadatalibrary
	#url = https://github.com/amundsen-io/amundsenmetadatalibrary
	url = https://github.com/Wonong/amundsenmetadatalibrary
	branch = master
[submodule "amundsensearchlibrary"]
	path = amundsensearchlibrary
	#url = https://github.com/amundsen-io/amundsensearchlibrary
	url = https://github.com/Wonong/amundsensearchlibrary
	branch = master
[submodule "amundsencommon"]
	path = amundsencommon
	#url = https://github.com/amundsen-io/amundsencommon
	url = https://github.com/Wonong/amundsencommon
	branch = master
[submodule "amundsengremlin"]
	path = amundsengremlin
	url = https://github.com/amundsen-io/amundsengremlin
	branch = master
